NEXT_PUBLIC_SUPABASE_URL=https://kancjkotwznjthedexxi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-anon-public-key
LASTFM_API_KEY=replace-with-lastfm-api-key
LASTFM_SHARED_SECRET=replace-with-lastfm-shared-secret-if-you-enable-user-auth
